/* Write your CSS here */

.BgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Denomination {
  background-color: #150b3e;
  width: 80%;
  border-radius: 16px;
  padding-top: 24px;
  padding-left: 18px;
  padding-bottom: 8px;
  padding-right: 18px;
  max-width: 350px;
}

.heading {
  color: #7c3aed;
  font-family: 'Roboto';
  font-size: 14px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7d2fe;
  height: 48px;
  width: 48px;
  border-radius: 24px;
}

.user-container {
  display: flex;
}

.BalanceContainer {
  display: flex;
  justify-content: space-between;
}

.description {
  color: #585076;
}

.balance {
  color: #ffffff;
  font-size: 20px;
}

.title {
  font-size: 30px;
  color: #ffffff;
  font-family: 'roboto';
}

.Currency {
  color: #585076;
  font-family: 'roboto';
}

.button {
  height: 20px;
  width: 100px;
  background-color: #585076;
  outline: none;
}

.name {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 8px;
}

.denomination-item {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
